# Database
DATABASE_URL="postgresql://lms:lms_dev@localhost:5432/lms"
POSTGRES_USER=lms
POSTGRES_PASSWORD=lms_dev
POSTGRES_DB=lms
POSTGRES_PORT=5432

# Redis
REDIS_URL="redis://localhost:6379"
REDIS_PORT=6379

# MinIO
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=lms-files
MINIO_CONSOLE_PORT=9001

# App
NODE_ENV=development
PORT=3000
